.row.comment{:id => "comment-#{comment.id}"}
  .large-12.columns
    - if comment.created_at
      = Russian::strftime(comment.created_at, "%d %B %H:%M")
    - unless comment.user.nil?
      = comment.user.name
    - else
      = "Анонимный комментарий"
    - if can? :delete, comment 
      = link_to "удалить", [@post, comment], :confirm => "Вы уверены?", :method => :delete, :remote => true
    - if can? :edit, comment
      = link_to "редактировать", edit_post_comment_path(@post, comment), :remote => true
    .comment-container{:id => "comment-container-#{comment.id}"}
      =raw comment.body