%h2 Вход
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    = f.label :email
    = f.email_field :email

    = f.label :password
    = f.password_field :password

    - if devise_mapping.rememberable?
      %label.checkbox{ :for => "user_remember_me" }
        = f.check_box :remember_me
        = "Запомнить меня"
    
  = f.submit "Войти", :class => "button"
    
= render :partial => "devise/shared/links"