= link_to "Вернуться на главную", root_path

%h2
  = link_to @post.title, @post
=raw @post.body

%h3 Комментарии

= render "comments/list"

- if user_signed_in?
  %hr
  %h5 Добавить новый комментарий
  = render 'comments/form'
- else
  %p
    Для того, чтобы написать комментарий, вам необходимо #{link_to "авторизоваться", new_user_session_path}


