!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Тестовое приложение"
      %meta{:content => content_for?(:description) ? yield(:description) : "Myapp", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    = render 'layouts/navigation'
    = render 'layouts/messages'
    .row
      .large-12.columns
        = yield
    %footer
      %hr
      %p.text-center
        2013